extends base

mixin imageCard(imgSrc, title)
        div.card(style="width: 20vw;")
                img.card-image-top(src=imgSrc)
                div.card-body
                        h5.card-title= title

block title
        title Pickit!

block content
        if loggedIn
                a(href="/logout") Log Out
                for image in images
                        +imageCard(image.imgSrc, image.title)
        else
                a(href="/signup") Sign up
                br
                a(href="/login") Log In

        
