doctype html
html(lang="en")
  head
    title PickIt!

    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
    link(rel="stylesheet", href="../static/stylesheets/style.css")

    script(src="../static/js/api.js")
    
  body
    div.card
      div.card-body
        h5.card-title Hi
        p.card-text#card-body I am the body of this card
