extends base

block title
        title PickIt Sign Up

block content
        form(method="POST", action="api/newuser")
                div.form-group
                        label(for="username") Username:
                        input#username.form-control(type="text", placeholder="username", name="username")
                div.form-group
                        label(for="password") Password
                        input#password.form-control(type="text", placeholder="password", name="password")
                div.form-group
                        label(for="passwordConf") Confirm Password:
                        input#passwordConf.form-control(type="text", placeholder="confirm password", name="passwordConf")
                button.btn.btn-primary(type="submit") Sign up

